<!--
* File: app.component.html
* Author: Szivák Gergő
* Copyright: 2022, Szivák Gergő
* Group: Szoft II/N
* Date: 2022-01-13
* Github: https://github.com/Gergosz-2000/hengfel
* Licenc: GNU GPL
-->
<div class="container">
  <h1 class="h1">Feladat 0318</h1>
  <h2 class="h2">Szivák Gergő 2022.01.13. SZOFT II/N</h2>
  <label for="radius">Sugár::</label><br>
  <input class="form-control" type="text" id="radius" [(ngModel)]="radius"><br>
  <label for="length">Hossz:</label><br>
  <input class="form-control" type="text" id="length" [(ngModel)]="length"><br>
  <label for="surface">Felszín:</label><br>
  <input class="form-control" type="text" id="surface" [(ngModel)]="surface" disabled><br>
  <button class="btn btn-dark" (click)="calcSurface()">Számít</button><br>
</div>